.group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.groupCard{
    margin: 2rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.profilepic{
    width: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
}
h1.weAre{
    margin-top: 2rem;
    color: rgb(46, 46, 46);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

